@media (min-width: 667px) {
    .menu-btn {
        display:flex;
    }

    nav {
        display:none;
    }

    main {
        width:90%;
        
    }

    main ul {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap:wrap;
        gap:30px;
    }

    footer nav  {
        display:grid;
        gap:10px;
        font-size:10px;
    }
}