* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li {
    list-style-type: none;
}

header {
    height:25%;
    font-size:300%;
    display:flex;
    flex-direction:column;
}

header h1 {
    margin:auto;
    text-align:center;
}

main {
    margin:0 auto;
}

main ul {
    width:80%;
    font-size:300%;
    margin:0 auto;
    text-align:center;
    display:flex;
    flex-direction:column;
}

main ul li {
    min-height:80vh;
    max-height:100vh;
    margin:auto;
    display:inline-block;
    background-color:#8f8f8f;
}

main ul li img {
    width:90%;
    margin:5vh auto;
}

main ul li p {
    width:90%;
    font-size:50%;
    margin:0 auto;
    padding:0.5vh 0;
    color:#fff;
    min-height:15vh;
    max-height:15vh;
}

footer {
    height:10%;
    font-size:300%;
    text-align:center;
    display:flex;
    flex-direction:column;
}